name: Build and Release Plugin

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Get Version from Tag
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Build Release
        run: dotnet publish Jellyfin.Plugin.DownloadMonitor/Jellyfin.Plugin.DownloadMonitor.csproj --configuration Release --output bin/publish /p:Version=${{ env.VERSION }} /p:AssemblyVersion=${{ env.VERSION }}

      - name: Download JPRM Tool directly
        run: |
          wget https://github.com/oddstr13/jellyfin-plugin-repository-manager/releases/download/v0.5.0/jprm-linux-x64 -O jprm
          chmod +x jprm

      - name: Create Repo and Deploy
        run: |
          ./jprm repo bin/publish --url https://kyandro-voet.github.io/Jellyfin-Plugin-Download-Status --token ${{ secrets.GITHUB_TOKEN }} --branch gh-pages