name: Build and Release Plugin

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x' 

      - name: Build Release
        run: dotnet publish Jellyfin.Plugin.DownloadMonitor/Jellyfin.Plugin.DownloadMonitor.csproj --configuration Release --output bin/publish

      - name: JPRM (Docker Action)
        uses: oddstr13/jellyfin-plugin-repository-manager@master
        with:
          path: bin/publish
          url: https://kyandro-voet.github.io/Jellyfin-Plugin-Download-Status
          branch: gh-pages
          token: ${{ secrets.GITHUB_TOKEN }}