name: Build and Release Plugin

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build Release
        run: dotnet build Jellyfin.Plugin.DownloadMonitor/Jellyfin.Plugin.DownloadMonitor.csproj --configuration Release --no-restore

      - name: Create plugin zip
        run: |
          mkdir -p artifacts
          cd Jellyfin.Plugin.DownloadMonitor/bin/Release/net9.0
          zip -r ../../../../artifacts/download-monitor-${{ github.ref_name }}.zip *.dll

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: artifacts/*.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install JPRM from GitHub
        run: pip install git+https://github.com/oddstr13/jellyfin-plugin-repository-manager.git

      - name: Create Manifest and Deploy
        run: |
          # Nu werkt dit commando wel zoals in de readme
          jprm repo artifacts \
            --url https://kyandro-voet.github.io/Jellyfin-Plugin-Download-Status \
            --branch gh-pages \
            --token ${{ secrets.GITHUB_TOKEN }}
